<h2>Om</h2>
<p>Startup idee om å assistere privat personer og bedrifter til å gå over til Linux som primær operativ system.</p>

<h2>End Of 10</h2>

<p>Windows 10 nærmer seg slutten, og KDE stiftelsen har opprettet ett initiativ: <a href="https://endof10.org/places/">EndOf10</a> for at du skal slippe å kjøpe ny, dyr, hardware med ukjent levetid.</p>
<p>Linux er ett raskt gratis operativ system, som bavarer levetiden til din maskinvare uten reklame, sporing, eller unødvendige kostnadder.</p>
<p>Ta kontakt så hjelper vi deg gratis med installasjon og inntil 2 timer med opplæring og oppsett av din "nye" gamle maskin.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon">E-post: support@sakkenix.cloud</span>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon">Telefon: +47 416 17 578</span>
  </li>
</ul>
